@{
    ViewData["Title"] = "Home Page";
}


<h1 id="title">Money Heist</h1>
<p>A criminal mastermind who goes by 'The Professor' has</p>
<div class="details">
    <h6>A Netflix Original Film</h6>
    <h5 id="gen">Thriller</h5>
    <h4 id="date">2021</h4>
    <h3 id="rate"><span>IMDB</span><i class="bi bi-star-fill"></i>9.6</h3>
</div>
<div class="btns">
    <a href="#" id="play">Watch <i class="bi bi-play-fill"></i></a>
    <a href="" id="download_main"><i class="bi bi-cloud-arrow-down-fill"></i></a>
</div>






